* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.primary {
  background-color: #282c34;
  color: #cfcfcf;
}

.secondary {
  background-color: #cfcfcf;
  color: #282c34;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.img1-3 {
  width: 400px;
  height: 267px;
  object-fit: cover;
  border-radius: 1rem;
}

.img1-4 {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.section__description {
  max-width: 700px;
  padding: 2rem;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__text {
  position: absolute;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
  color: #fff;
}
